# Regression Model Assignment D

### on  Concrete dataset

In [1]:
#!pip install keras

In [2]:
#imports
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

### fetching dataset via pandas and a url

In [3]:
url="https://cocl.us/concrete_data"

In [4]:
data = pd.read_csv(url)

In [5]:
data.isnull().sum() #checking for null

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
data.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

### Creating training data

In [7]:
independent = data[data.columns[data.columns != 'Strength']]
dependent = data["Strength"]

In [8]:
independent.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
dependent.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

### Normalizing dataset (B part needed)

In [10]:
independent = (independent - independent.mean())/independent.std()
independent.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

### logic for Splitting the dataset

In [11]:
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.3,random_state=10)

In [12]:
y_train.head()

426    29.55
835    15.42
242    31.35
823    29.59
157    77.30
Name: Strength, dtype: float64

In [13]:
x_train.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
426,-1.027381,0.226058,1.651822,-0.433979,0.585108,0.440892,-0.336516,-0.501222
835,-1.312531,-0.856472,1.887770,-1.103636,1.974498,-0.384790,0.878312,-0.279597
242,-0.492485,-0.856472,1.000229,0.638409,-0.017520,0.709688,-0.199318,0.163652
823,0.390714,-0.856472,-0.846733,1.003676,-1.038638,0.013904,0.329519,2.126612
157,0.779207,1.334087,-0.846733,-0.780515,0.903161,-0.362926,-0.221768,0.163652

### Creating model and using adam optimizer, loss is mean squared error

In [14]:
columns_count = independent.shape[1]#input shape

In [15]:
#model with 1 hidden layer of 10 output,loss is mean absolute error
def regression_model():
    model = Sequential()
    
    model.add(Dense(6,activation="relu",input_shape=(columns_count,)))
    model.add(Dense(10,activation="relu"))#hidden layer of 10 nodes
    model.add(Dense(10,activation="relu"))#hidden layer of 10 nodes
    model.add(Dense(10,activation="relu"))#hidden layer of 10 nodes
    model.add(Dense(1))
    
    model.compile(optimizer='adam',loss="mean_squared_error")
    return model

### (D) Training/ fitting the data train:test 0.7:0.3, epochs = 50  , 50 times and measuring MSE

In [16]:
#loop of training 50 times

MSE=[]#stores mean squared error
for i in range(0,50):
    x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.3,random_state=10)
    model = regression_model()
    model.fit(x=x_train,y=y_train,epochs=50,verbose=0)#verbose 0 so multiple progress bar are not printed
    predictions = model.predict(x=x_test)

    #metric measurement y_test is Actual, predictions are calculated
    cur_mse = mean_squared_error(y_test,predictions)
    #storing mse in MSE list
    MSE.append(cur_mse)
    print(f"Iteration {i+1} , Current MSE : {cur_mse}")

10/10 [==============================] - 0s 1ms/step
Iteration 1 , Current MSE : 121.95455731722798
10/10 [==============================] - 0s 1ms/step
Iteration 2 , Current MSE : 121.33360836148985
10/10 [==============================] - 0s 999us/step
Iteration 3 , Current MSE : 131.5394129757133
10/10 [==============================] - 0s 893us/step
Iteration 4 , Current MSE : 122.72047798053961
10/10 [==============================] - 0s 1ms/step
Iteration 5 , Current MSE : 117.93869303023617
10/10 [==============================] - 0s 1ms/step
Iteration 6 , Current MSE : 117.48469511976774
10/10 [==============================] - 0s 1ms/step
Iteration 7 , Current MSE : 111.25684428568412
10/10 [==============================] - 0s 1ms/step
Iteration 8 , Current MSE : 123.80203564130333
10/10 [==============================] - 0s 1000us/step
Iteration 9 , Current MSE : 88.49044549487864
10/10 [==============================] - 0s 1ms/step
Iteration 10 , Current MSE : 121.52276608110226
10/10 [==============================] - 0s 892us/step
Iteration 11 , Current MSE : 125.27032071793107
10/10 [==============================] - 0s 1ms/step
Iteration 12 , Current MSE : 80.36817630048671
10/10 [==============================] - 0s 2ms/step
Iteration 13 , Current MSE : 121.29292118092292
10/10 [==============================] - 0s 1000us/step
Iteration 14 , Current MSE : 116.08099487292219
10/10 [==============================] - 0s 1ms/step
Iteration 15 , Current MSE : 120.35295387960483
10/10 [==============================] - 0s 3ms/step
Iteration 16 , Current MSE : 113.26003307757779
10/10 [==============================] - 0s 1ms/step
Iteration 17 , Current MSE : 113.6621283180958
10/10 [==============================] - 0s 1ms/step
Iteration 18 , Current MSE : 91.41314182524096
10/10 [==============================] - 0s 1ms/step
Iteration 19 , Current MSE : 123.04459842683815
10/10 [==============================] - 0s 1ms/step
Iteration 20 , Current MSE : 116.29098096953349
10/10 [==============================] - 0s 1ms/step
Iteration 21 , Current MSE : 108.44787022714051
10/10 [==============================] - 0s 1ms/step
Iteration 22 , Current MSE : 124.2919736924166
10/10 [==============================] - 0s 1ms/step
Iteration 23 , Current MSE : 123.72762053448533
10/10 [==============================] - 0s 1ms/step
Iteration 24 , Current MSE : 120.24623521344337
10/10 [==============================] - 0s 1ms/step
Iteration 25 , Current MSE : 127.42488491965372
10/10 [==============================] - 0s 1ms/step
Iteration 26 , Current MSE : 124.8619299431396
10/10 [==============================] - 0s 996us/step
Iteration 27 , Current MSE : 86.35867767441654
10/10 [==============================] - 0s 997us/step
Iteration 28 , Current MSE : 111.28398314698502
10/10 [==============================] - 0s 1ms/step
Iteration 29 , Current MSE : 117.50879826823346
10/10 [==============================] - 0s 1ms/step
Iteration 30 , Current MSE : 118.18095392414114
10/10 [==============================] - 0s 1ms/step
Iteration 31 , Current MSE : 129.3780172653089
10/10 [==============================] - 0s 1ms/step
Iteration 32 , Current MSE : 122.963967588754
10/10 [==============================] - 0s 1ms/step
Iteration 33 , Current MSE : 124.59447051667513
10/10 [==============================] - 0s 1ms/step
Iteration 34 , Current MSE : 96.0728876023805
10/10 [==============================] - 0s 1ms/step
Iteration 35 , Current MSE : 130.2454212154823
10/10 [==============================] - 0s 1ms/step
Iteration 36 , Current MSE : 125.29950121867277
10/10 [==============================] - 0s 1ms/step
Iteration 37 , Current MSE : 115.36395214079802
10/10 [==============================] - 0s 1ms/step
Iteration 38 , Current MSE : 123.27076415371346
10/10 [==============================] - 0s 1ms/step
Iteration 39 , Current MSE : 132.289408738117
10/10 [==============================] - 0s 1ms/step
Iteration 40 , Current MSE : 110.26412607864756
10/10 [==============================] - 0s 1ms/step
Iteration 41 , Current MSE : 117.27973060142938
10/10 [==============================] - 0s 1ms/step
Iteration 42 , Current MSE : 124.70581381291387
10/10 [==============================] - 0s 1ms/step
Iteration 43 , Current MSE : 108.76475127435002
10/10 [==============================] - 0s 1ms/step
Iteration 44 , Current MSE : 122.38440712341293
10/10 [==============================] - 0s 1ms/step
Iteration 45 , Current MSE : 66.36968911734223
10/10 [==============================] - 0s 1ms/step
Iteration 46 , Current MSE : 117.94723160209904
10/10 [==============================] - 0s 1000us/step
Iteration 47 , Current MSE : 97.19647033395626
10/10 [==============================] - 0s 1ms/step
Iteration 48 , Current MSE : 118.88792897213827
10/10 [==============================] - 0s 1ms/step
Iteration 49 , Current MSE : 116.45424946088716
10/10 [==============================] - 0s 7ms/step
Iteration 50 , Current MSE : 124.50023249164023

### Printing mean and standard deviation of Mean Squared Errors of 50 iteration of training

In [17]:
MSE = np.array(MSE)

print(f"Mean : {MSE.mean()}, Standard Deviation : {MSE.std()}")

Mean : 115.71291469419742, Standard Deviation : 13.434630891593258